/* .di           白底 */
/* .box-big      区块 */
/* h1            标题 */
/* .left-line    正文 */
/* .hengxian     上下横线 */
/* .di-button    按钮区域 */
/* .button-small 右下角小按钮 */
/* .p-small      小字 */
body {
  z-index: top;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://www.helloimg.com/i/2024/11/25/6744965bee384.jpg");
  background-size: cover;
  background-attachment: fixed;
}
b {
  margin-bottom: 4px;
}
h1 {
  position: relative;
  left: 15px;
  bottom: 0.2em;
  display: flex;
  margin-bottom: 0;
}
p {
  margin: 0.1em;
}
a {
  text-decoration: none;
  color: rgb(65, 162, 231);
}
img {
  margin-top: 10px;
}
.top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #fbb;
  z-index: 99999;
  font-size: 12px;
}
.son {
  position: absolute;
  left: 15px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12.5px;
  display: flex;
  justify-content: center;
}
.di {
  margin: 15px;
  flex: 1;
  width: 87%;
  height: calc(+ 30px);
  background-color: rgba(255, 255, 255, 0.616);
  margin: 15px auto;
  position: relative;
  backdrop-filter: blur(4px);
  border-radius: 0.35em;
}
.biaoti {
  left: 0;
  border-bottom: 2px solid rgb(239, 107, 107);
  width: calc(100% - 30px);
  margin: auto;
  text-indent: -8%;
  font-size: 12px;
}
.left-line {
  border-left-color: rgb(239, 107, 107);
  border-left-style: solid;
  border-left-width: 2px;
  padding-left: 10px;
  margin: 22px;
  display: flex;
  flex-direction: column;
}
.qukuai {
  margin: 22px;
  display: flex;
  flex-direction: column;
}
.dian {
  margin: 22px;
  display: flex;
  flex-direction: column;
}
.box-big {
  display: block;
}
.box-top {
  padding-top: 0.6em;
}
.di-button {
  width: 87%;
  margin: auto;
}
.p-small {
  font-size: 12px;
  margin: 0;
}
.button-small {
  position: relative;
  z-index: 2;
  left: 0;
  height: 1.8em;
  width: 8.5em;
  border-radius: 0.35em;
  background-color: #fbb;
  border: none;
  float: right;
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease;
}
.button-small:active {
  background-color: rgb(241, 154, 168);
}
@media (min-width: 800px) {
  body {
    background-image: url("https://www.helloimg.com/i/2024/11/29/6749e0b822498.jpg");
  }
  .di {
    backdrop-filter: blur(6px);
  }
}
li::marker {
  color: rgb(239, 107, 107);
}
